.btn1{
    background-color: $orange;
    margin:10px;
    color:$lightwhite;
}
.btn2{
    background-color: $primary;
    margin:10px;
    color:$lightwhite;
}

$primary:#8a2be2;
$orange:#ff7f50;
$gray:#C0C0C0;
$lightgray:#eeeeee;
$pink:#ff6666;
$lightblack:#666161;
$lightwhite:#F5F5DC;